<html>
<head>
    <title>PasswordForge</title>
    <link rel="icon" href="static\plain_logo_circle.png" type="image/png">
    <link rel="stylesheet" href="../static/style_home.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="navbar">
        <div id="top_logo" class="enlarge">
            <a href="/home"><img id="top_logo_img" src="static/logo_symbol_text.png"></a>
        </div>
        <div id="navbuttons">
            <a href="/login" class="nav_link enlarge">
                <div id="login_button">Login</div>
            </a>
            <a href="/signup" class="nav_link enlarge">
                <div id="signup_button">Sign Up</div>
            </a>
        </div>
    </div>
    <br>
    <br>
    <div id="ATTACKER">
        <div id="red_waves">
            <img src="static/red_waves.png">
        </div>
        <div id="red_stuff">
            <div id="red_waves_content">
                <div id="text_attacker1" class="enlarge">“One single vulnerability is all an</div>
                <div id="text_attacker2" class="enlarge"><span>ATTACKER </span>needs.”</div>
            </div>
            <a href="/review">
                <div id="button_attacker" class="enlarge">Rate your Password</div>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="bar">
        <div class="bar_scroller">
            <div class="bar_text">Generate - Review - Store - Manage</div>
            <div
                style="height: 10px; width: 10px; border-radius: 30px; background-color: #ffffff; margin-left: 30px; margin-right: 30px;">
            </div>
            <div class="bar_text">Generate - Review - Store - Manage</div>
            <div
                style="height: 10px; width: 10px; border-radius: 30px; background-color: #ffffff; margin-left: 30px; margin-right: 30px;">
            </div>
        </div>
        <div class="bar_scroller">
            <div class="bar_text">Generate - Review - Store - Manage</div>
            <div
                style="height: 10px; width: 10px; border-radius: 30px; background-color: #ffffff; margin-left: 30px; margin-right: 30px;">
            </div>
            <div class="bar_text">Generate - Review - Store - Manage</div>
            <div
                style="height: 10px; width: 10px; border-radius: 30px; background-color: #ffffff; margin-left: 30px; margin-right: 30px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="green_content">
        <div id="text_security" class="enlarge">"Our only<span>SECURITY </span>is out ability to change.”</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="enforce">
        <div class="circles_group">
            <div id="row1">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row2">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row3">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row4">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row5">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row6">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row7">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row8">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row9">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row10">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row11">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row12">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <a href="/login">
            <div class="enforce_now"><p>ENFORCE_NOW</p></div>
        </a>
        <div class="circles_group">
            <div id="row1">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row2">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row3">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row4">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row5">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row6">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row7">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row8">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row9">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row10">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row11">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div id="row12">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>  
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="seg3">
        <div id="SECURELY">
            <div id="blue_waves">
                <img src="static/blue_waves.png">
            </div>
            <div id="blue_stuff">
                <div id="blue_waves_content">
                    <div class="blue_text" id="generate">GENERATE</div>
                    <div class="blue_text" id="review">REVIEW</div>
                    <div class="blue_text" id="manage">MANAGE</div>
                    <div class="blue_text" id="store">STORE</div>
                </div>
            </div>
        </div>
        <div id="seg3text">
            <div id="place" class="enlarge">all at one place</div>
            <div id="blue_sec" class="enlarge"><span>SECURELY</span></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="final">
        <div class="enlarge" id="about_text">About</div>
        <br>
        <br>
        <br>
        <br>
        <div class="details enlarge">M Shraghvin<br/>mshraghvin@gmail.com</div>
        <br>
        <br>
        <div id="lang" class="enlarge">HTML, CSS<br/>Flask Framework<br/>MongoDB<br></div>
    </div>
    <br>
    <footer>
        <div>
            <p>&copy; 2024 PasswordForge. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>