<html>
<head>
    <title>PasswordForge</title>
    <link rel="icon" href="static\plain_logo_circle.png" type="image/png">
    <link rel="stylesheet" href="../static/style_signup.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="navbar">
        <div id="top_logo" class="enlarge">
            <a href="/home"><img id="top_logo_img" src="static/logo_symbol_text_red.png"></a>
        </div>
        <div id="navbuttons">
            <a href="/login" class="nav_link enlarge">
                <div id="login_button">Log In</div>
            </a>
        </div>
    </div>
    <br>
    <div style="display: flex; flex-direction:row-reverse; justify-content: center; align-items: center;">
        <div id="account_details">
            <div id="details_gif">
                <img src="static\signup_side.gif">
            </div>
            <div id="details_part">
                <p id="logintext">Sign Up</p>
                <form action="/signup_user" method="POST">
                    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 30px;">
                        <input type="email" placeholder="E-mail" name="email" id="username" class="field" required>
                        <br>
                        <input type="password" placeholder="Password" name="password" id="password" class="field" required>
                        <br>
                        <br>
                        <input type="submit" id="submit" value="Sign Up">
                    </div>
                </form>
                {% if acc == True %}
                    <p style="color: white; font-family:'DM Sans'; font-weight: 600; font-size: 20px;">Account already exists</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <div>
            <p>&copy; 2024 PasswordForge. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>